@import './solarized-light.css';
@import './solarized-dark.css';

/*
body {
	background-position: center;
	font-family: sans-serif;
	font-size: 10pt;
}
*/

body {
	font-size: 10pt;
}

h2 {
	display: inline-block;
	margin: 0px;
}

h3 {
	margin: 0px;
	margin-top: 3ex;
	color: green;
	display: block;
	border-bottom: 1px dotted black;
	/* margin-left: 2em; */
}

h4 {
	margin: 0px;
	margin-top: 3ex;
}

h5 {
	margin: 0px;
	font-style: italic;
	margin-top: 2ex;
}


.warning {
	color: red;
	font-weight: bold;
}

.tiny {
	font-size: 60%;
	font-weight: normal;
}

p {
	margin-left: 4em;
}
p:hover {
	font-size: 150%;
}


details {
	border: 1px solid #aaa;
	border-radius: 4px;
	padding: .5em .5em 0;
	font-weight: bold;
}

summary {
	font-weight: bold;
	margin: -.5em -.5em 0;
	padding: .5em;
}


details[open] {
	padding: .5em;
}

details[open] summary {
	border-bottom: 1px solid #aaa;
	margin-bottom: .5em;
}

.active {
	/* font-size: 150%; */
	font-family: courier,fixed;
	color: #839496;
}

h3.active {
	color: #859900;
}
h3.inactive {
	color: #93a1a1;
}
h4.active {
	color: #859900;
}
h4.inactive {
	color: #93a1a1;
}

.inactive {
	/* margin: 4em; */
	color: gray;
	font-family: courier, fixed;
}
